/* -------------------HEADER---------------------- */


/* Estilos generales */
.header, .wrapper, .logo-img, .nav, .menu, .item, .link, .icon, .icon-image, .active, header, body{
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root{
    --bg-nav       : rgb(20, 31, 131);
    --bg           : #FBFBFE;
    --blue         : #ffffff;
    --grey         : #ffffff;
    --white        : rgb(20, 31, 131);
    --header-height: 4rem;
}

body{
    background: var(--bg);
}

   /* Estilos header */
.header{
    height       : var(--header-height);
    width        : 100%;
    position     : fixed;
    top          : 0;
    background   : var(--white);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.logo-img{
    height : 2rem;
    display: block;
}

.wrapper{
    height         : 100%;
    width          : 90%;
    max-width      : 1200px;
    margin         : 0 auto;
    display        : flex;
    justify-content: center;
    align-items    : center ;
}

   /* Estilos nav */
.nav{
    width     : 100%;
    position  : fixed;
    bottom    : 0;
    background: var(--bg-nav);
}

.menu{
    display   : flex;
    list-style: none;
}

.item{
    width: 25%;
}

.link{
    display        : block;
    color          : var(--grey);
    font-size      : 0.75em;
    font-family    : "Raleway", sans-serif;
    text-align     : center;
    text-decoration: none;
    padding        : 0.5rem 0;
}

.icon{
    --size : 1.5rem;
    width  : var(--size);
    height : var(--size);
    display: block;
    margin : 0 auto 0.25rem;
    fill   : var(--grey);
}

.icon-image{
    border-radius: 50%;
}

.active{
    color: var(--blue);
}

.active .icon{
    fill: var(--blue);
}


   /* Responsive */
@media only screen and (min-width: 1024px){

    .wrapper{
    justify-content: space-between;
    }

    .nav{
    width      : max-content;
    height     : var(--header-height);
    position   : relative;
    display    : flex;
    align-items: center;
    background : none;
    }

    .item{
    margin-left: 1.5rem;
    }

    .link{
    font-size: 0.9rem;
    }

    .icon{
    display: none;
    }
}

/* ---------------------------------------------------- */






/* PRINCIPAL */

/* FONDO */
body {
    background: rgb(19, 23, 58);
}

.parrafo {
    color: rgb(19, 23, 58);
}

h1 {
    color: white;
    text-align: center;
}

.description {
    color: rgb(255, 255, 255);
    background: rgb(8, 120, 185);
    font-size: 1.4rem;
    text-align: center;
}

.indice {
    color: orangered;
    font-size: 1.2rem;
}

h2 {
    color: orange;
    font-size: 2rem;
}

li {
    color: white;
    font-size: 1.2rem;
}

.formulary {
    color: white;
    font-size: 1.2rem;
}

* {
    font-family: 'Roboto', sans-serif;
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

footer {
	font-family: Open Sans;
}


.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed .title-footer{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed .title-footer .span-footer{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links .link-22{
	display:inline-block;
	line-height: 1.8;
	font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i .fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center #un-parrafo {
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center #un-parrafo .span-footer{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

/* .un-parrafo {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
	font-size: 17px;
	line-height: 38px
} */

.footer-distributed .footer-center #un-parrafo .link-22 {
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

#seyne-web {
	color:  rgb(138, 13, 13);
	font-size: 12px;
}

.footer-distributed .footer-company-about .span-footer .seyne-web{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons .link-22 {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #000000;
	border-radius: 2px;

	font-size: 20px;
	color: #ff0000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#documentacion {
  color: white;
}
#ubicacion {
  color: green;
}
#youtube {
  color: red;
}
#facebook{
  color: blue;
}

.seyne-web {
  line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  text-decoration: none;
}

.title-footer{
    text-align: left;
    /* margin-left: 12px; */
}

#central{
    padding: .2em;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}